.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3px;
    height: 7vh;
    background-color:#3f51b9;
}
.header > div >button {
    margin-top: 6px;
    align-items: center;
}
    
.middle1{
    padding: 14px;
    margin: 15px;
    display: flex;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.lower{
    display:flex;
    flex-wrap: wrap;
}
.topicslist{
    border: 2px solid lightgoldenrodyellow;
    margin: auto;
    border-radius: 2px;
}

.blur{
    
    --drop:no-drop;
    cursor:var(--drop);
    opacity: 0.3;
}