.header{
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    background-color: black;
    opacity: 0.85;
    border: 2px;
    border-radius: 4px;
}

.header > div >button {
    border: 1px lightblue;
    border-radius: 6px ;
    align-items: center;
}

.header > div  :hover{
box-shadow: 2px 2px 2px 2px #537dca;
transform: scale(1.05,1.05);
}

.middle1{
    padding: 14px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
}
.middle1 >:hover{
    box-shadow: cornflowerblue;
}

.topicslist{
    border: 2px solid lightgoldenrodyellow;
    margin: auto;
    border-radius: 2px;
}
