.topic_list{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
    padding: 3px;
    background-color: rgb(255, 123, 211);
    color:white;
    font-family: "Times New Roman", Times, serif;
    /* width: 450px; */
    height: 50px;
}

.topic_list:hover{
    opacity: 0.85;
    box-shadow: 5px 5px 5px 5px #537dca;
}


.topic_list>.left{

    margin-bottom: 6px;
    cursor: var(--drop);
}

.topic_list>.middle{
    margin: 6px;
    font-size: 25px;
}
.topic_list>.right{
    margin-bottom: 6px;
    cursor: var(--drop);
}

