.form{
    border:2px black; 
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
.button{
    align-self: right;
    margin-left: 70vw;
}
.inside_form{
    align-self: start;
    margin-left: 10px;
    margin-right: 10px;
}
.inp{
    margin-right: 10px;  
    height: 30px; 
    border: 2px solid black; 
    border-top: none;
    border-left: none;
    border-right: none;   
}
